In [1]:
# import libraries

import pandas as pd # pandas library 
import numpy as np # numerical python library
import matplotlib.pyplot as plt # plotting library


import sklearn as sk
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.metrics import classification_report, accuracy_score

from datetime import datetime, timedelta, date

from __future__ import division # use / to perform floor division

# show charts and graphs inline in jupyter notebook
%matplotlib inline

In [2]:
# here we import algorithms

from sklearn.svm import SVC
from sklearn.cluster import KMeans
from sklearn.multioutput import MultiOutputClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier

In [3]:
#supress all the warnings of deprecation

import warnings
warnings.filterwarnings("ignore")

In [4]:
#read data
raw_data = pd.read_csv('dataset/train.csv')

In [5]:
raw_data.shape

(955390, 10)

In [7]:
raw_data.head()

,index,serviced_from_city,customer_locality,customer,transaction_date,brand,category,product,ordered_qty,ordered_amount
0,3,f072608736,b4a2215bbe,8352843b0e,2021-04-09,a63d2efcb1,Mehendi,Nisha Black Mehendi @100 Linkage,1,56.350000
1,4,f072608736,10c1ce7c59,765c513a35,2021-04-09,a63d2efcb1,Mehendi,Nisha Black Mehendi @100 Linkage,1,56.350000
2,5,f072608736,4b1ebbdcde,68843f3124,2021-12-11,a4c168f27a,Meat Masala,Suhana Meat Masala @5 Linkage,6,205.714284
3,6,f072608736,71b1924106,9e8c1232f5,2021-12-11,a4c168f27a,Meat Masala,Suhana Meat Masala @5 Linkage,18,617.142852
4,7,f072608736,88e5b010b1,4829d8ecb1,2021-10-23,0d55b07506,Snacks,Yellow Diamond Chips Plain Salted @5 Linkage,4,231.560000

In [13]:
df = raw_data
df.isnull().sum().sum()

0

In [19]:
df.transaction_date.describe()

count         955390
unique           307
top       2021-05-24
freq            5767
Name: transaction_date, dtype: object

In [24]:
users = pd.DataFrame(df.customer.unique(), columns=["customer"])
users

        customer
0     8352843b0e
1     765c513a35
2     68843f3124
3     9e8c1232f5
4     4829d8ecb1
...          ...
5995  b5057d86fd
5996  d513b92058
5997  cd839cac29
5998  f023f80e02
5999  588f6b23d5

[6000 rows x 1 columns]